@model CatalogProductViewModel

@{ 
    var base64 = Convert.ToBase64String(Model.ProductImg);
    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
}

<div class="table-bordered">
    <div class="img-thumbnail"><img src="data:image;base64,@System.Convert.ToBase64String(Model.ProductImg)" width="300" height="375" /></div>
    <div class="center-block">
        <b>Name:</b> @Model.ProductName
        <b>Price:</b> @Model.ProductPrice
        <b>Calories:</b> @Model.ProductCalories
        <b>Description:</b> 
        <textarea class="form-control rounded-0" rows="3" disabled>@Model.ProductDescription</textarea>
    </div>
</div>